/*初期設定
---------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic Medium",
        "游ゴシック Medium",
        "YuGothic",
        "游ゴシック体",
        "ヒラギノ角ゴ Pro W3",
        "メイリオ",
        sans-serif;
}

/*header
---------------------*/
.header__wrapper {
    text-align: center;
}

.logo__img {
    width: 140px;
    padding: 20px 0;
}

h1 {
    font-size: 42px;
    margin: 0;
}

.header__text {
    font-size: 32px;
    margin: 0 0 60px;
}

.times_text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 100px;
    margin: 0 0 60px;
}

.past {
    background-color: #e9f0f1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0;
}

.present {
    background-color: #cee4e2;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0;
}

.future {
    background-color: #B5DCD8;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0;
}

.today_words {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    letter-spacing: 4px;
    margin: 0 0 80px;
}

.hidden {
    opacity: 0;
    transform: translateZ(-20px);
}

.result__wrapper {
    margin: 0 0 80px;
}

.result__btn {
    display: block;
    margin: auto;
    width: 250px;
    padding: 11px 0;
    color: black;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

@keyframes bob {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.result__btn.bob {
    animation: bob 0.5s;
    animation-iteration-count: 4;
    animation-delay: 1s;
}


/*main
---------------------*/

.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 80px;
}

.diagnosis_form {
    background-color: #f1efec;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 30px 30px 10px;
    margin: 0 0 40px;
}

.form-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 30px;
}

.form-label {
    margin: 0 0 24px;
}

.form-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0 20px 0 0;
}

.diagnosis__btn {
    display: block;
    margin: auto;
    width: 250px;
    padding: 11px 0;
    color: azure;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    background-color: #52b4b9;
}

.service {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
}

.service__text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 40px;
}

.service__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.paidlist__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 0 80px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;
}

.paidlist__wrapper button {
    width: 250px;
    height: 250px;
    /* ボタンの高さを高くする */
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px 10px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
}

.paid__text {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 40px;
}

.button_row_1 button:hover {
    background-color: #e9f0f1;
    color: black;
}

.button_row_2 button:hover {
    background-color: #cee4e2;
    color: black;
}

.button_row_3 button:hover {
    background-color: #b4dcd8;
    color: black;
}

/*footer
---------------------*/

.footer {
    background-color: black;
    padding: 30px 0;
    color: azure;
    font-size: 18px;
    text-align: center;
    width: 100%;
}